@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<p>Contact information for the demo creator is below.  All referenced packags are the rights of the respective owners.</p>

<p>Mitchel Sellers, Microsoft MVP &amp; ASP Insider</p>

<address>
    <strong>Email:</strong>   <a href="mailto:msellers@iowacomputergurus.com">msellers@iowacomputergurus.com</a><br />
    <strong>Twitter:</strong> <a href="https://www.twitter.com/mitchelsellers">@@mitchelsellers</a>
</address>