@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Swagger Demo</h1>
    <p class="lead">This sample project is used to demonstrate how to add self documenting API Documentation to your project.</p>
    <p><a href="/apiDocs/index" class="btn btn-primary btn-lg">View Docs &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Have a look at the SampleController to see how we document things.  Model classes are included in the /Models folder. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Swashbuckle - ASP.NET</h2>
        <p>You can read all about the package needed to enable Swagger within your ASP.NET application from the link below </p>
        <p><a class="btn btn-default" href="https://github.com/domaindrivendev/Swashbuckle">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Swashbuckle - .NET Core</h2>
        <p>If you are working with .NET core there is a separate project, with similar functionality, check it out below.</p>
        <p><a class="btn btn-default" href="https://github.com/domaindrivendev/Swashbuckle.AspNetCore.%7C">Learn more &raquo;</a></p>
    </div>
</div>